<div class="container bg">

	<div class="row">
		    <div class="center col-sm-12">
			<img id="main-pic" src="assets/img/burger.jpg">
			<h1>Eat-Da-Burger App</h1>
			<p></p>
			   
		</div>
		  </div>


	<div class="row">
		    <div class="col-sm-6">

			<br>
			<h2>BurgersTo Eat!</h2>

			<ul>
				{{#each burgers}}
				{{#unless this.devoured}}
				<li>
					{{this.id}}
					{{this.burger_name}}

					<form action="/{{this.id}}?_method=PUT" method="POST">
						<input type="hidden" name="devoured" value="true">
						<button class="btn btn-danger" type="submit">Devour It!</button>
					</form>

				</li>
				{{/unless}}
				{{/each}}
			</ul>

			   
		</div>

		    <div class="col-sm-6">

			<h2>Burgers That Were Devoured!</h2>

			{{#each burgers}}
			{{#if this.devoured}}
			<li>
				{{this.id}}
				{{this.burger_name}}

			</li>
			{{/if}}
			{{/each}}

			   
		</div>

		  </div>

	<div class="row">
		    <div class="center col-sm-12">

			<h2>Add A Burger!</h2>

			<form class="CRUDform" action="/" method="POST">

				<div class="form-group">
					<p>Enter a burger you want to order and click the Submit Order button.</p>
					<input type="text" id="ca" name="burger_name">
				</div>

				<button class=" btn btn-success" type="submit">Submit Order</button>
			</form>

			   
		</div>

		  </div>
</div>